<div [@routerTransition]>
    <app-page-header [heading]="'Operational Desk'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 ">

            <div class="card mb-3" *ngIf="filterEnable">
                <div class="card-header">Filter </div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>LOB</th>
                            <th>Project</th>
                            <th>Application</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" value="{{lobSelected}}" [(ngModel)]="lobSelected" (change)="onChangeLob()">
                                        <option value="" [ngValue]="">Select</option>
                                        <option *ngFor="let lob of operationalDashboardService.lobList" value="{{lob}}">{{lob}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" value="{{projectSelected}}" [(ngModel)]="projectSelected">
                                    <option value="" [ngValue]="">Select</option>
                                    <option *ngFor="let project of operationalDashboardService.project.get(lobSelected)" value="{{project}}">{{project}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" value="{{applicationSelected}}" [(ngModel)]="applicationSelected">
                                    <option value="" [ngValue]="">Select</option>
                                    <option *ngFor="let application of operationalDashboardService.application.get(projectSelected)" value="{{application}}">{{application}}</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-lg btn-info btn-sm" (click)="doFilter()">Filter</button>
                </div>
            </div>

            <div class="card mb-3" *ngIf="listOfAppTable.length > 0">
                <div class="card-header">Search Result</div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Lob</th>
                            <th>Project</th>
                            <th>Application</th>
                            <th>Server</th>
                            <!--<th>Status</th>-->
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appDet of listOfAppTable">
                            <td>{{appDet.lob}}</td>
                            <td>{{appDet.project}}</td>
                            <td>{{appDet.application}}</td>
                            <td>{{appDet.server}}</td>
                            <!--<td>
                                <div *ngIf="appDet.status == 'A'" class="card card-success card-inverse w-50">
                                    <div class="card-header card-success">
                                        Running
                                    </div>
                                </div>
                                <div *ngIf="appDet.status == 'S' || appDet.status == undefined " class="card card-danger card-inverse w-50">
                                    <div class="card-header card-danger">
                                        Stopped
                                    </div>
                                </div>
                            </td>-->
                            <td>
                                <button  *ngIf="appDet.status == 'A'" type="button" class="btn disabled "
                                         (click)="performAction('STOP',appDet.server,appDet.application,appDet.project,appDet.lob)">Stop</button>

                                <button  *ngIf="appDet.status == 'S' || appDet.status == undefined " type="button" class="btn btn-primary"
                                         (click)="performAction('START',appDet.server,appDet.application,appDet.project,appDet.lob)">Start</button>

                            </td>
                        </tr>
                        <!--
                        <tr>
                            <th>VIDEO</th>
                            <td>VOD</td>
                            <td>Coupon Collector</td>
                            <td>cmpweb-po-wc-2p</td>
                            <td>
                                <div class="card card-danger card-inverse">
                                    <div class="card-header card-danger">
                                        Stopped
                                    </div>
                                </div>
                            </td>
                            <td>cmpweb-po-wc-1p</td>
                        </tr>
                        -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
