<div [@routerTransition]>
    <app-page-header [heading]="'Operational Desk'" [icon]="'fa-table'"></app-page-header>
    <div class="row small">
        <div class="col col-xl-12 col-lg-12 ">

            <div class="card mb-3" *ngIf="filterEnable">
                <div class="card-header">Filter </div>
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered">
                        <thead>
                        <tbody>
                        <tr>
                        	<th>Lob</th>
                        	<td>
	                        	<div class="form-group">
	                                 <select value="{{lobSelected}}" [(ngModel)]="lobSelected" (change)="onChangeLob()">
	                                     <option value="" [ngValue]="">Select</option>
	                                     <option *ngFor="let lob of operationalDashboardService.lobList" value="{{lob}}">{{lob}}</option>
	                                 </select>
	                             </div>
	                         </td>
                             <th>Project</th>
                             <td>
                                <select class = "box" value="{{projectSelected}}" [(ngModel)]="projectSelected">
                                    <option value="" [ngValue]="">Select</option>
                                    <option *ngFor="let project of operationalDashboardService.project.get(lobSelected)" value="{{project}}">{{project}}</option>
                                </select>
                            </td>
                            <th>Application</th>
                            <td>
                                <select class = "box" value="{{applicationSelected}}" [(ngModel)]="applicationSelected">
                                    <option value="" [ngValue]="">Select</option>
                                    <option *ngFor="let application of operationalDashboardService.application.get(projectSelected)" value="{{application}}">{{application}}</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg btn-info btn-sm" (click)="doFilter()">Filter</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="card mb-3" *ngIf="listOfAppTable.length > 0">
                <div class="card-header">Search Result
                </div>
                <div class="card-header w-100">
                    <div class="float-right">
                        ( <b>{{lobSelectedHold}}</b> ->
                        <b>{{projectSelectedHold}}</b> ->
                        <b>{{applicationSelectedHold}}</b> )&nbsp;&nbsp;
                    <button   type="button" class="btn-sm btn-primary"
                              (click)="performAction('START','ALL',appDet.application,appDet.project,appDet.lob)">Start All</button>
                    <button  type="button" class="btn-sm btn-primary"
                             (click)="performAction('STOP','ALL',appDet.application,appDet.project,appDet.lob)">Stop All</button>
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class="table table-hover mb-0 table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Lob</th>
                            <th class="text-center">Project</th>
                            <th class="text-center">Application</th>
                            <th class="text-center">Server</th>
                            <!--<th>Status</th>-->
                            <th class="text-center">Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appDet of listOfAppTable">
                            <td class="text-center">{{appDet.lob}}</td>
                            <td class="text-center">{{appDet.project}}</td>
                            <td class="text-center">{{appDet.application}} <div class="small btn-link" style="cursor: pointer" (click)="viewLog()">View Log</div></td>
                            <td class="text-center">{{appDet.server}}</td>
                            <!--<td>
                                <div *ngIf="appDet.status == 'A'" class="card card-success card-inverse w-50">
                                    <div class="card-header card-success">
                                        Running
                                    </div>
                                </div>
                                <div *ngIf="appDet.status == 'S' || appDet.status == undefined " class="card card-danger card-inverse w-50">
                                    <div class="card-header card-danger">
                                        Stopped
                                    </div>
                                </div>
                            </td>-->
                            <td class="text-center">
                                <button  *ngIf="appDet.status == 'Y'" type="button" class="btn-sm btn-primary "
                                         (click)="performAction('STOP',appDet.server,appDet.application,appDet.project,appDet.lob)">Stop</button>

                                <button  *ngIf="appDet.status == 'N' || appDet.status == undefined " type="button" class="btn-sm btn-primary"
                                         (click)="performAction('START',appDet.server,appDet.application,appDet.project,appDet.lob)">Start</button>

                            </td>
                        </tr>
                        <!--
                        <tr>
                            <th>VIDEO</th>
                            <td>VOD</td>
                            <td>Coupon Collector</td>
                            <td>cmpweb-po-wc-2p</td>
                            <td>
                                <div class="card card-danger card-inverse">
                                    <div class="card-header card-danger">
                                        Stopped
                                    </div>
                                </div>
                            </td>
                            <td>cmpweb-po-wc-1p</td>
                        </tr>
                        -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
