<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-8">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-block">
                    <iframe src="http://imscol-wc-a1p:3000/dashboard/snapshot/FsZc1u0y6WTivMpmm99E8qB02MPIeN5H" width="700" height="600" frameborder="1"></iframe>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-block">
                    <iframe src="http://imscol-wc-a1p:3000/dashboard/snapshot/v9FVG4etlarHNdnJvf4pl9UbdO8J1R1D" width="700" height="600" frameborder="1"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-block">
                   <iframe src="http://imscol-wc-a1p:3000/dashboard/snapshot/XfcGkmKpECzlvJ7wQLNAbcUJSe2d560i" width="1500" height="600" frameborder="1"></iframe> 
                </div>
            </div>
        </div>
        </div>
