<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-6 col-md-6 col-sm-6">
<!--                 <a href = "http://147.191.123.59/zabbix/zabbix.php?action=dashboard.view&ddreset=1" target="_blank" class="list-group-item">  	</a> -->
           <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Complete Application Monitoring</h3>
                <p>This tool provide accessibilty to monitor the alarms , view notifications and maintain the same. Also provides dashboard capability to view various trends. </p>
            </div>
            </div>
       	</div>
       </div>
      </div>
